/* body{
    overflow-x: hidden;
} */
@media(max-width:912px) {
    .logo-sp{
         position: relative;
        margin-left: 70px;
    }
    .content-1{
        margin-top: 150px;
    }
    
}
@media(max-width:576px ){
  .ppp{
    margin-left: 90px;
  }
  
}
@media(max-width:350px ){
  .ppp{
    margin-left: 0px;
  }
  
}


.cont-1{
    background-image: url('Homepage_Desktop.webp');
    background-size: cover;
    background-position: center center;
    height: 657px;
  }
  .cont-2{
    background-image: url('Homepage_Desktop\ \(2\).webp');
    background-size: cover;
    background-position: center center;
    height: 657px;
  }
  .cont-3{
    background-image: url('S20_Chopstick_Stack_Desktop.webp');
    background-size: cover;
    background-position: center center;
    height: 657px;
  }
  .cont-4{
    background-image: url('hls-resized-2.webp');
    background-size: cover;
    background-position: center center;
    height: 657px;
  }
.container{
  background-color: black;
  min-height: 100px;
  height: auto;
  
}
.l-colm{
background-color: black;
}
#navbarNav-1{
  position: relative;
  left: 1200px;
  bottom: 350px;
}
